<h1>Edit article</h1>
<!--ở đây không cần khai báo chi tiết đường dẫn vì đã ở trong đúng thư mục, cùng lớp rồi
    ở application.html.erb bắt buộc phải có đường dẫn chi tiết < mỗi layouts là cần như thế >
-->

<%= render 'form' %>

<p>
  <%= link_to 'Cancel and return to articles listing', articles_path %>
</p>